/*
*  Styling like a thug
*  created by nlaz
*/

/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


* {
  font-family: 'Open Sans', sans-serif;
}

body { 
  margin:0; 
  padding:0; 
}

.hero {
  background-color: #f46e75;
  width: 100%;
  height:100vh;
}

.app-info {
  background-color: #f7f7f7;
}

.hero-info {
  text-align: right;
  margin-top: 200px;
}

.hero-title {
  width: 100%;
}

.hero h2 {
  font-size: 25px;
  color: #AD4F54;
}

.hero .buttons {
  margin-top: 60px;
}

.hero button {
  color: #ffffff;
  padding: 10px;
  width: 180px;
  font-size: 22px;
}

button.learn-more {
  background-color: #f46e75;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-top: 2px;
  margin-right:10px;
}

button.download {
  background-color: #AD4F54;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
}

.app-info .container {
  padding: 100px 0;
}

.app-info .row {
  padding: 30px;
}

.app-info h2 {
  color: #32A59E;
}

.app-info p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.38);
}

.app-info .row2 {
  text-align: right;
}

.map-title {
  background-color: #f46e75;
  padding: 25px; 
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
}

.map-info h2 {
  color: #ffffff;
  font-weight: 100;
}

.action-call {
  background-color: #f46e75;
  padding: 40px;
  text-align: center;
}

.action-call img {
  width: 50px;
}

.action-call button {
  background-color: #AD4F54;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 15px;
  width: 240px;
  font-size: 20px;
  margin: 60px;
}

#map {
  height: 80vh;
}